body {
  background-color: #0d1117;
}

.year-contributions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .year-contributions-week-container {
  margin: 0 1px;
} */
.year-contributions-week-container:first-child {
  margin-left: 0;
}
.year-contributions-week-container:last-child {
  margin-right: 0;
}

.year-contributions-level-1 {
  background-color: #161b22;
}
.year-contributions-level-2 {
  background-color: #0e4429;
}
.year-contributions-level-3 {
  background-color: #006d32;
}
.year-contributions-level-4 {
  background-color: #26a541;
}
.year-contributions-level-5 {
  background-color: #39d353;
}
.year-contributions-day {
  width: 12px;
  height: 12px;
  border-radius: 20%;
  /* box-shadow: inset 0 0 1px 1px rgba(129, 129, 129, 0.05); */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  margin: 3px 2px;
}
.year-contributions-day:first-child {
  margin-top: 0;
}
.year-contributions-day:last-child {
  margin-bottom: 1px;
}
